FMI_Course/Temp/
FMI_Course/Library/
FMI_Course/obj/
FMI_Course/UserSettings/
FMI_Course/Logs/
Project/Game_Project/Temp/
Project/Game_Project/Library/
Project/Game_Project/obj/
Project/Game_Project/UserSettings/
Project/Game_Project/Logs/